<ul class="list"></ul>
{{#each this}}

    <li class="li-text"><b>{{name}}</b></li>

{{/each}}
</ul>
{{!-- //or without {{#each this} --}}
{{!-- <ul>
    <li class="li-text">{{name}}</li>
</ul>
// then you need to map. and join this object in const markup--}}